//colors


$header-button-color:#7e0839;
$header-color:#1e293a;
$home-background-color: #101628;
$home-border-color: #1c2536;
$home-buttom-color:#2bb751;
$home-link-color: #8c9bb1;
$home-text-color: #fff;

