//colors

$header-button-color: #7e0839;
$header-color: #1e293a;
$home-background-color: #101628;
$home-border-color: #1c2536;
$home-buttom-color: #2bb751;
$home-link-color: #8c9bb1;
$inputs-text-color: #8492a1;
$home-text-color: #fff;
$transactions-input-background-color: #324054;
$transactions-icnome-background: #23a24f;
$transactions-expense-background: #ed464a;
$transactions-unactive-button-color: #2b3748;
$transactions-page-color: #2a66e5;
$categories-background-color: #2d67e7;
$categories-hover-color: #070a18;
$modal-background: #0f1629;
$modal-outline-color: #98afd5;
